{% extends 'calculator/base_calculator.html' %}
{% block title %}
    Delete expression
{% endblock %}

{% block content %}

<h1> Calculator (Delete existing expression)</h1>
<form action=" {% url 'delete' id=expression.id %}" method="post">
    {% csrf_token %}
    <h3>Are you sure you want to delete the expression {{expression.expression}}</h3>

<table cellpadding="5"><tr><td><button type="submit" class="btn btn-danger">Delete expression</button></td>
    <td><a href="{% url 'database' %}" class="btn btn-success">Cancel</a></td>
</tr>
</table>
</form>

{% endblock %}
